<div id="newTicket">
    <div id="header">
      <i class="material-icons">create</i>
      <span id="headerText">Create new ticket</span>
    </div>
    <div id="innerTicketDiv">
      <form>
        <div class="container">
          <input id="title" type="text" required>
          <label for="title">Title</label>
        </div>
  
        <div class="container">
          <textarea rows="4" id="content" required></textarea>
          <label for="content">Content</label>
        </div>
  
        <div class="container">
          <input type="text" id="status" required>
          <label for="status">Status</label>
        </div>
  
        <div class="container">
          <input type="text" id="author" required>
          <label for="author">Author</label>
        </div>
        <button id="createButton">Create</button>
      </form>
    </div>
  </div>
