<span id="newTicket">
  <div id="header">
    <i class="material-icons">create</i>
    <span id="headerText">Create new ticket</span>
  </div>
  <div id="innerTicketDiv">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="container">
        <input id="title" type="text" name="title" ngModel required>
        <label for="title">Title</label>
      </div>

      <div class="container">
        <textarea rows="7" id="content" name="content" ngModel required></textarea>
        <label for="content">Content</label>
      </div>

      <div class="container">
        <select id="status" name="status" ngModel required>
          <option></option>
          <option *ngFor="let status of statuses">{{ status }}</option>
        </select>
        <label for="status">Status</label>
      </div>

      <div class="container">
        <input type="text" id="author" name="author" ngModel required>
        <label for="author">Author</label>
      </div>
      <button id="createButton" type="submit">Create</button>
    </form>
  </div>
</span>